cbseg==1.0.0
idna==3.4
joblib==1.2.0
matplotlib>=3.6.1
numpy==1.22.3
pycparser==2.21
pyparsing==3.0.9
pypi==2.1
PySocks==1.7.1
python-dateutil==2.8.2
scikit-learn==1.1.2
scipy==1.9.3
typing_extensions==4.4.0
